doctype html
html(lang="en")
    include head.pug
    body 
        h1(align='center') codify 
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum aspernatur natus quam dicta eaque autem culpa repellendus doloremque, labore error nihil illo magni distinctio nisi?
            include footer.pug