doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title lesson 3
    body 
        h1 lesson 3
        ul 
             each value in student
                li #{value}