doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title array in table
    body 
        h1 Array in Table
        table( border) 
              tr 
                 td friends name 
              each name in friends 
               tr 
                    td #{name}        
