doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title piped of text
    body 
        h1 Secoond mothod to display 
        div 
            |that is first line <hr/>
            |this is second line of code 
            p 
                | that is first line of paragraf <br/>
                | that is second line of paragraf 